* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 800px;
  height: 800px;

  margin: 0 auto;
  margin-top: 50px;
}
h1 {
  width: 100%;
  background-color: black;
  color: white;
  height: 5rem;
  text-align: center;
  padding-top: 1rem;
  font-size: 50px;
}
.clock {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;

  height: 80px;
  font-size: 30px;
}
.clock img {
  width: 50px;
  height: 50px;
}
.clock span {
  padding-top: 6px;
}
#bg {
  position: relative;
  width: 800px;
  height: 500px;
  background: url("./images/bg.png") no-repeat;
}

#hero {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 35px;
  height: 54px;

  background: url("./images/hero.png") no-repeat;
}

#hero.left {
  background-position: -70px;
}
#hero.right {
  background-position: -105px;
}

#heart {
  text-align: end;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 20px;
}
#heart span {
  font-size: 30px;
}
button {
  width: 100%;
  height: 50px;
  background-color: darkblue;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
}
